{% extends "base.html" %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">
            Add Teacher
        </legend>
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">
            Add
        </button>
    </div>
</form>

{% endblock content %}






