{% extends "base.html" %}
{% load static %}
{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
{% comment %} <a href="{% url 'student:delete_semister' pk=pk %}">Delete Semister</a> {% endcomment %}
<a  onclick="clicked()" href="#">Delete Semister</a>


{% endblock content %}
{% block script %}
    <script>
        <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
        <script type="text/javascript">
            function clicked(){
                event.preventDefault();
                if(confirm("Do you want to delete the particular semister ")){
                    window.location.href = "{% url 'student:delete_semister' pk=pk %}"
                }


            }

        </script>
{% endblock script%}
