{% extends "base.html" %}
{% load static %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <button type="submit">Save</button>
</form>

<br>
{% if semester %}
    The student is currently reading in 
    {% for sem in semester %}
        {{sem}} <a href="#">Manage_Semester</a>
    {% endfor %}
{% endif %}
{% comment %} <a href="{% url 'student:delete_student' pk=pk %}"> Resticate  particular student</a> {% endcomment %}
<a  onclick="clicked()" href="#"> Resticate  Particular student</a>

{% endblock content %}
{% block script %}
    <script>
        <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
        <script type="text/javascript">
            function clicked(){
                event.preventDefault();
                if(confirm("Do you want to delete the particular Student ")){
                    window.location.href = "{% url 'student:delete_student' pk=pk %}"
                }


            }

        </script>
{% endblock script%}