{% extends "base.html" %}
{% load static %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <button type="submit">Save</button>
</form>

<a onclick="clicked()" href="#"> Resticate  particular teacher</a>

{% endblock content %}
{% block script %}
    <script>
        <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
        <script type="text/javascript">
            function clicked(){
                event.preventDefault();
                if(confirm("Do you want to delete the particular teacher ")){
                    window.location.href = "{% url 'student:delete_teacher' pk=pk %}"
                }


            }

        </script>
{% endblock script%}