{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>



<body>
{% if messages %}
  {% for message in messages %}
      <div class="alert alert-success">
        {{ message }}
      </div>
  {% endfor %}
{% endif %}
{% load embed_video_tags %}
    <h1>Why to choose ABC school</h1>
    {% video video_url backend=backend %}





<div > <b> Here are some message from the principle </b> <button id="hide"> Hide</button> <button id="show">Show</button></div>


<div id="pmessage"> Hello Students <div>



{% endblock content %} 

{% block script %}
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  
  
  $(document).ready(function () {
    $("#hide").click(function(){
      $("#pmessage").hide(1000,function(){
          console.log('Hidden')
      })  
  
    })
    $("#show").click(function(){
      $("#pmessage").show(1000,function(){
          console.log('Hidden')
      })  
  
    })

    {% comment %} if (window.confirm("Looks like you aren't logged in yet")) {
        window.location.href = '/student-login';
      }; {% endcomment %}

  });
</script>

{% endblock script %}
