hello this is manage

<br>
add {{ title }} <a href="#">Add</a>
<br>
{% for i in courses %}
    {{i}} <a href="#">Manage</a>
    <br>
{% endfor %}
<br>
{% for i in students %}
    {{i}} <a href="#">Manage</a>
    <br>
{% endfor %}
<br>
{% for i in teachers %}
    {{i}} <a href="#">Manage</a>
    <br>
{% endfor %}
<br>
{% for i in semisters%}
    {{i}} <a href="#">Manage</a>
    <br>
{% endfor %}
<br>
{% for i in schools %}
    {{i}} <a href="#">Manage</a>
    <br>
{% endfor %}
<br>
{% for i in subjects %}
    {{i}} <a href="#">Manage</a>
    <br>
{% endfor %}
<br>
