hello this is manage

<br>
{% if title == "student" %}
add {{ title }} <a href="{% url 'student:add_stundent' %}">Add</a>
{% endif %}
<br>
{% for i in courses %}
    {{i}} <a href="#">Manage</a>
    <br>
{% endfor %}
<br>
{% for i in students %}
    {{i}} <a href="#">Manage</a>
    <br>
{% endfor %}
<br>
{% for i in teachers %}
    {{i}} <a href="#">Manage</a>
    <br>
{% endfor %}
<br>
{% for i in semisters%}
    {{i}} <a href="#">Manage</a>
    <br>
{% endfor %}
<br>
{% for i in schools %}
    {{i}} <a href="#">Manage</a>
    <br>
{% endfor %}
<br>
{% for i in subjects %}
    {{i}} <a href="#">Manage</a>
    <br>
{% endfor %}
<br>
