{% extends "base.html" %}
{% block content %}
{% if messages %}
  {% for message in messages %}
      <div class="alert alert-success">
        {{ message }}
      </div>
  {% endfor %}
{% endif %}
<a href="{% url 'student:profile_update' request.user.id %}">Edit profile </a>
{% if posts %}
    <p>Here are some notices from admin</p>
            {% for post in posts %}
            <div class ="card shadow mt-2 mb-2 ">
                <div class="card-body">
                    <p>
                        Source:  Admin

                    </p>
                    <p>
                        On the topic :{{post.title}}
                        
                    </p>
                    <p>
                        {{post.description}}
                        
                    </p>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}

{% endif %}



{% endblock content %}